
// components
.btn
    //padding: 15px 25px
    padding: 15px 12px
    border: 2px solid 
    border-radius: 10px
    font-weight: 600
    //font-size 16px
    font-size 14px
    &:hover
        cursor pointer
.btn_action
    background-color: color-soft-red
    color: color-white
    border-color: color-soft-red
    &:hover
        color: color-soft-red
        background-color: color-white
.btn_primary
    background-color: color-soft-blue
    color: color-white
    border-color: color-soft-blue
    &:hover
        color: color-soft-blue
        background-color: color-white
.btn_secondary
    background-color: color-light-gray
    color: color-very-dark-blue
    border-color: color-light-gray
    &:hover
        border-color: color-very-dark-blue
h1
    //font-size: 46px
    font-size: 26px
    color: color-very-dark-blue
    font-weight: 600//500
h2
    //font-size: 32px
    font-size: 22px
    color: color-very-dark-blue
    font-weight: 600//500
h3
    font-size: 28px
    color: color-very-dark-blue
    font-weight: 500
p
    font-size: 14px
    line-height: 25px//28px
img
    max-width: 100%
.bubble
    position absolute
    z-index -1
    height: 100px //450px
    width: 100px //700px
    background-color: color-soft-blue
    border-radius: 30% 0% 0% 30%