*
    font-size: 16px
.header
    .header__nav.header__desktop
        display: flex
    .header__nav.header__mobile
        display: none
// components
.btn
    padding: 15px 25px
    border: 2px solid 
    border-radius: 10px
    font-weight: 500
    font-size 14px
    &:hover
        cursor pointer
.btn_action
    background-color: color-soft-red
    color: color-white
    border-color: color-soft-red
    &:hover
        color: color-soft-red
        background-color: color-white
.btn_primary
    background-color: color-soft-blue
    color: color-white
    border-color: color-soft-blue
    &:hover
        color: color-soft-blue
        background-color: color-white
.btn_secondary
    background-color: color-light-gray
    color: color-very-dark-blue
    border-color: color-light-gray
    &:hover
        border-color: color-very-dark-blue
h1
    font-size: 46px
    color: color-very-dark-blue
    font-weight: 500
h2
    font-size: 32px
    color: color-very-dark-blue
    font-weight: 500
h3
    font-size: 28px
    color: color-very-dark-blue
    font-weight: 500
p
    font-size: 16px
    line-height: 28px
.bubble
    position absolute
    z-index -1
    height: 450px
    width: 500px
    background-color: color-soft-blue
    border-radius: 30% 0% 0% 30%

// DOM
header,section
    max-width width-desktop
    margin auto
    padding: 0px 200px

.header
    padding-top: 50px
    padding-bottom: 100px
    .header__nav
        height: 50px
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        .header__logo
            height: 25px
        .nav__menu
            display: flex
            flex-direction: row
            align-items:  center
            gap: 60px
            .menu__link
                color: color-very-dark-blue
                text-transform: uppercase
                letter-spacing: 2px;
                &:hover
                    cursor pointer
                    color: color-soft-red
                .btn_action                    
                    padding: 15px 35px
    .hero
        margin-top: 100px
        display: flex
        flex-direction: row
        align-items:  center
        justify-content: space-between
        .hero__content
            display: flex
            flex-direction: column
            gap: 30px
            .hero__title
                width: 450px
                font-weight: 500
            .hero__description
                max-width 380px
            .hero__buttons
                display: flex
                flex-direction: row
                gap: 30px
        .hero__header
            position relative
            .bubble
                right: 0px;
                top: 150px;
                height: 333px
            .hero__image
                position relative
                margin-right: 50px

.main
    .section
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        gap: 30px
        .section__header
            text-align: center
            margin-bottom: 30px
            .section__title
                margin-bottom: 20px
            .section__description
                //width: 550px
.section__features
    margin-bottom: 300px
    .section__description
        max-width: 450px
    .features-tabs
        height: 260px;
        .features-tabs__list
            display: flex
            flex-direction: row
            justify-content: center
            margin-bottom: 80px
            .features-tabs__item
                width 250px
                height: 50px
                text-align: center
                border-bottom: 1px solid color-light-gray
                .tabs__link
                    display: inline-block
                    width 100%
                    height 100%
                    font-weight: 500
                    color color-grayish-blue
                    &[aria-selected='true']
                        color: color-very-dark-blue
                        width: 250px
                        border-bottom: 5px solid color-soft-red
                    &:hover
                        color: color-soft-red
        .features-tab__container
            display: flex
            flex-direction: row
            justify-content: space-around
            align-items: center;
            gap: 100px
            .features-tab__image
                position relative
                .bubble    
                    right: 100px;
                    top: 100px;
                    transform: rotate(180deg);
                    width: 600px;
                    height: 320px
            .features-tab__content
                width: 500px
                display: flex
                flex-direction: column
                gap: 30px
                .features-tab__description
                    max-width: 390px
                .features-tab__button
                    width 150px
.section__extension
    padding-top: 150px;
    margin-bottom: 150px
    .section__description
        max-width: 465px
    .extensions-card-list
        display: flex
        flex-direction: row
        gap: 30px
        .extension-card
            display: flex
            flex-direction: column
            border-radius: 10px
            box-shadow: 2px 2px 2px 1px rgba(0, 0.1, 0.1, 0.1)
            .extension-card__content
                display: flex
                flex-direction: column
                align-items: center
                padding: 10px
                //border-bottom: 1px color-grayish-blue dotted
                .extension-card__image
                    width: 100px
                    margin-bottom: 30px
                .extension-card__title
                    font-size: 18px
                    color: color-very-dark-blue
                    font-weight: 500
                    margin-bottom: 8px
                .extension-card__version
                    font-size: 14px
                    margin-bottom: 30px
            .extension-card-middle-border
                height: 1px
                background-image: linear-gradient(to right, #000 10%, rgba(255, 255, 255, 0) 0%);
                background-position: top;
                background-size: 12px 3px;
                background-repeat: repeat-x;
            .extension-card__footer
                padding: 20px
        .extension-card-chrome
            margin-bottom: 50px
        .extension-card-firefox
            margin-top: 25px
            margin-bottom: 25px
        .extension-card-opera
            margin-top: 50px
.section__faq
    margin-bottom: 150px
    .section__description
        max-width: 435px;
    .accordion__buttonzone
        text-align center
        .accordion__button
            padding 15px 20px
    .accordion
        display: flex
        flex-direction: column
        align-items: center
        gap: 50px
        margin-bottom 50px
        .accordion-block-list
            width: 500px
            border-top: 2px solid color-light-gray
            .accordion-block
                border-bottom: 2px solid color-light-gray
                .accordion-block__question
                    cursor pointer
                    padding: 18px 0px
                    display: flex
                    flex-direction: row
                    align-items: center
                    justify-content: space-between
                    .accordion-block__question-text
                        color: color-very-dark-blue
                        &:hover
                            color: color-soft-red
                    .accordion-block__question-arrow
                        height: 12px
                        .accordions__link
                            height: 100%
                            width: 18px
                            display: block
                            background-repeat: no-repeat
                            transition: .3s transform;
                        .accordions__link--no-selected
                            background-image: url("../images/icon-arrow.svg")
                        .accordions__link--selected
                            background-image: url("../images/icon-arrow-selected.svg")
                            transform: rotate(180deg);
                .accordion-block__answer
                    line-height: 30px
                    margin: 20px 15px 30px 0px
                    transition: visibility 0s, opacity 0.3s linear;
                    &--hidden
                        height: 0
                        margin: 0
                        visibility: hidden;
                        opacity: 0;
                        transition: visibility 0s, opacity 0.3s linear;
.section__contact
    max-width: 100%
    background-color color-soft-blue
    padding 50px 0px 10px 0px
    .contact__joined
        text-transform uppercase
        letter-spacing 4px
        font-size 12px
        color color-white 
    .contact__title
        margin-top 20px
        max-width: 430px
        color color-white  
    .contact__form
        text-align: center
        display flex
        gap: 10px
        padding: 0px 40px
        margin-bottom 30px
        .form__email
            margin-bottom 15px
            .form__input
                font-size: max(16px, 1em);
                padding: 1em;
                border-radius: 10px;
                border: 0px
                width: 280px;
            .form__input:focus:invalid
                background: url("../images/icon-error.svg") no-repeat 95% 50% color-white;
                background-size: 25px;
            .form__invalidEmail
                display: none
                color: color-white
                font-size: 10px
                font-style: italic
                text-align: left
                padding-left 1em
        .form__email--error
            background-color: color-soft-red
            border-radius: 10px
            border: 1px solid color-soft-red
        .form__submit
            height: 50px;

.footer 
    background-color: color-very-dark-blue
    padding: 40px 200px
    .footer__nav
        margin: auto
        max-width: width-desktop
        display: flex
        flex-direction: row
        justify-content: space-between;
        align-items: center;
        .footer__menu
            display: flex
            flex-direction: row
            //width: 500px
            gap: 50px
            align-items: center
            .menu__link
                color color-white
                //width: 110px
                text-transform uppercase
                letter-spacing 1px
                cursor pointer
                &:hover
                    color: color-soft-red
        .footer__social
            display: flex
            flex-direction: row
            gap: 30px

// frontendmentor
.attribution
    font-size: 11px
    text-align: center
    a
        color: hsl(228, 45%, 44%)    