.header
    .header__nav.header__desktop
        display: none
    .header__nav.header__mobile
        margin: 50px 30px
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        .header__logo
            height: 30px
        .header__menuIcon
            height: 15px
    .hero
        display: grid
        margin-top: 100px
        .hero__header
            position relative
            grid-row-start: row-start 1
            .header__bubble
                right: 0
                top: 60px
                height: 210px
                width: 290px
            .hero__image
                margin: 0px 10px
        .hero__content
            grid-row-start: row-start 2
            margin-top: 60px
            display: flex
            flex-direction: column
            gap: 30px
            text-align: center
            .hero__title
                padding: 0px 50px
                //width: 450px
            .hero__description
                padding: 0px 50px
                //width 480px
            .hero__buttons
                padding: 0px 30px
                display: flex
                flex-direction: row
                justify-content: center
                gap: 10px//30px

.main
    .section
        margin-top: 150px
        // display: flex
        // flex-direction: column
        // align-items: center
        // justify-content: center
        .section__header
            text-align: center
            margin-bottom: 30px
            padding: 0px 40px
            .section__title
                margin-bottom: 10px
            .section__description
                //width: 550px
    .section__features
        //margin: 150px 30px 300px 30px
        //margin-top: 150px
        //margin-bottom: 300px
        .features-tabs
            .features-tabs__list
                margin: 0px 30px
                // display: flex
                // flex-direction: column
                // align-items: center
                border-top: 1px solid color-light-gray
                // display: flex
                // flex-direction: row
                // justify-content: center
                //margin-bottom: 80px
                .features-tabs__item
                    // width 250px
                    //position relative
                    //height: 50px
                    text-align: center
                    border-bottom: 1px solid color-light-gray
                    .tabs__link
                        display: inline-block
                        padding: 20px 0px
                        border-bottom: 5px solid color-white
                        // width 100%
                        // height 100%
                        font-weight: 600
                        color color-grayish-blue
                        &[aria-selected='true']
                            color: color-very-dark-blue
                            width: 250px
                            border-bottom: 5px solid color-soft-red
                        &:hover
                            color: color-soft-red
            #features-bookmarking
                .tab__image
                    height: 200px
            #features-searching, #features-sharing
                .tab__image
                    height: 250px
            .features-tab__container
                display: grid
                margin-top: 50px
                // display: flex
                // flex-direction: row
                // justify-content: space-around
                // align-items: center
                // gap: 100px
                .features-tab__image-container
                    height: 250px
                    margin-bottom 70px
                    .features-tab__image
                        //height: 250px
                        position relative
                        grid-row-start: row-start 1
                        margin-bottom: 40px
                        .bubble
                            top: 35px;
                            height: 100%
                            transform: rotate(180deg)
                            width: 285px//650px
                        .tab__image
                            margin: 0px 30px
                            //height: 250px;
                            //width 600px
                .features-tab__content
                    //margin-top 30px
                    grid-row-start: row-start 2
                    display: flex
                    flex-direction: column
                    gap: 30px
                    text-align: center
                    padding: 0px 45px
                    .features-tab__description
                        //max-width: 450px
                    .features-tab__button
                        display: none
                        //width 150px
    .section__extension
        //margin-top: 150px
    .section__faq
        //margin-top: 150px
        .accordion
            margin-bottom: 50px
        .accordion__buttonzone
            text-align: center;
            .accordion__button
                padding: 15px 20px;
    .section__contact
        background-color: color-soft-blue
        padding: 50px 0px 10px 0px;
        .contact__joined
            text-transform: uppercase
            letter-spacing: 3px;
            font-size: 12px;
            color: color-white 
        .contact__title
            margin-top 10px
            color: color-white 
        .contact__form
            text-align: center
            padding: 0px 40px
            margin-bottom 30px
            .form__email
                margin-bottom 15px
            .form__input, .form__submit
                width: 100%
            .form__input
                font-size: max(16px, 1em);
                padding: 1em;
                border-radius: 10px;
                border: 0px
                height: 50px;
.footer
    background-color: color-very-dark-blue
    .footer__nav
        display: flex
        flex-direction: column
        align-items: center;
        padding: 50px 0px
        gap: 50px
        .footer__menu
            display: flex
            flex-direction: column
            align-items: center;
            gap: 30px
            .menu__link
                text-transform: uppercase
                letter-spacing: 1px;
                color: color-white
        .footer__social
            display: flex
            flex-direction: row
            gap: 50px
.attribution
    position: fixed
    bottom 0