.header
    .header__nav.header__desktop
        display none
    .header__nav.header__mobile
        .nav__header
            margin 50px 30px
            display flex
            flex-direction row
            justify-content space-between
            align-items center
        .header__logo
            height 30px
        .header__menuIcon
            height 15px
        .nav__menuburger
            max-width width-mobile
            display none
            position fixed
            top 0
            left 0
            z-index 1
            width 100vw
            height 100vh
            background-color color-very-dark-blue
            opacity 0.9
            .nav__menucontent                
                .menu__header
                    margin 50px 30px
                    display flex
                    flex-direction row
                    justify-content space-between
                    align-items center
                    .nav__logo
                        height 30px
                    .nav__menuIcon
                        height 15px
                .nav__menu
                    margin 0px 30px
                    border-top 1px solid color-grayish-blue
                    .menu__link
                        text-transform uppercase
                        letter-spacing 2px
                        font-size 18px
                        color color-white   
                        text-align center
                        padding 20px                 
                        border-bottom 1px solid color-grayish-blue
                .nav__button
                    margin 30px 30px
                    button
                        width 100%
                        text-transform uppercase
                        letter-spacing 2px
                        font-size 18px
                        color color-white
                        background-color color-very-dark-blue
                        border-color color-white
                .nav__social
                    margin-top 150px
                    display flex
                    flex-direction row
                    justify-content center
                    gap 50px

    .hero
        display grid
        margin-top 100px
        .hero__header
            position relative
            grid-row-start row-start 1
            .hero__bubble
                right 0
                top 60px
                height 210px
                width 290px
            .hero__image
                margin 0px 10px
        .hero__content
            grid-row-start row-start 2
            margin-top 60px
            display flex
            flex-direction column
            gap 30px
            text-align center
            .hero__title
                padding 0px 50px
            .hero__description
                padding 0px 50px
            .hero__buttons
                padding 0px 30px
                display flex
                flex-direction row
                justify-content center
                gap 10px

.main
    .section
        margin-top 150px
        .section__header
            text-align center
            margin-bottom 30px
            padding 0px 40px
            .section__title
                margin-bottom 10px
    .section__faq
        .accordion
            margin-bottom 50px
        .accordion__buttonzone
            text-align center
            .accordion__button
                padding 15px 20px
    .section__contact
        background-color color-soft-blue
        padding 50px 0px 10px 0px
        .contact__joined
            text-transform uppercase
            letter-spacing 3px
            font-size 12px
            color color-white 
        .contact__title
            margin-top 10px
            color color-white     

.footer
    background-color color-very-dark-blue
    .footer__nav
        display flex
        flex-direction column
        align-items center
        padding 50px 0px
        gap 50px
        .footer__menu
            display flex
            flex-direction column
            align-items center
            gap 30px
            .menu__link
                text-transform uppercase
                letter-spacing 1px
                color color-white
        .footer__social
            display flex
            flex-direction row
            gap 50px
.attribution
    position fixed
    bottom 0