// imports
@import reset;

// Variables
// -- width screen
width-mobile = 375px
width-desktop = 1440px

// -- colors
color-soft-blue = hsl(231, 69%, 60%)
color-soft-red = hsl(0, 94%, 66%)
color-grayish-blue = hsl(229, 8%, 60%)
color-very-dark-blue = hsl(229, 31%, 21%)
color-light-gray = hsl(230, 29%, 95%)
color-white = hsl(0, 0%, 100%)

// -- font
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap')

*    
    font-family: 'Rubik', sans-serif;
    font-size: 14px
    color: color-grayish-blue

@import components
@import mobile
@import desktop